sys_admin/module/seo2/kw.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:element name="kall">
	<xs:complexType> 
		<xs:sequence>
			<xs:element name="kgroup" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="kdomain" type="xs:string"/>
						<xs:element name="kword" type="xs:string" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>